/* Общие стили */
body {
    background-color: #000000; /* Черный фон */
    color: #FF0000; /* Красный текст */
    font-family: 'Courier New', Courier, monospace; /* Жирный моноспейсный шрифт */
    text-align: center; /* Центрирование текста */
    padding: 50px; /* Отступы вокруг содержимого */
}

p, button {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень вокруг текста и кнопки */
    border-radius: 5px; /* Скругленные углы */
}

button {
    background-color: #800000; /* Темно-красный фон кнопки */
    color: white; /* Белый текст */
    border: 2px solid #FF0000; /* Красная рамка */
    padding: 15px 30px; /* Увеличенные размеры поля кнопки */
    font-size: 18px; /* Больший размер шрифта */
    cursor: pointer; /* Изменяем курсор на указатель при наведении */
    transition: background-color 0.3s ease; /* Анимация изменения фона */
}

button:hover {
    background-color: #B22222; /* Темно-коричневый фон при наведении */
}

/* Конец стилей */
