body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0e7db;
    background-image: url('images/heart.png'), url('images/kittens.png');
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, left top;
    background-size: cover, cover;
}

.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(247, 221, 221);
    text-align: center;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#accept {
    background-color: #4CAF50;
    color: white;
    border: none;
}

#decline {
    background-color: #f44336;
    color: white;
    border: none;
}
