/*Стили для видео*/
*,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    width: 100vw;
    max-height: 70vh;
    overflow: hidden;
    position: relative;
}
.home::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.home_video{
    padding-bottom: 56.25%;
}
.home video{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}
.home_content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 3;
}
/*Стили для лого + меню*/
.logo{
    float: left;
}
.logo a {
    display: block; 
}
.content{
    width: 1000px;
    height: 100px;
    position:relative;
    top: 100;
    left: -300;
    color: #fff;
    z-index: 3;
}
h6{
    opacity: 0.63;
}
#menu{
    width: 60%; 
}
.topmenu{
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute; 
}
.topmenu li {
    height: auto;
    width: 145px; 
    float: left;  
    text-align: center; 
    list-style: none;  
    padding: 0;
    margin: 0;
}
.topmenu a{							
    padding: 11px 0;  
    text-decoration: none; 
    color: white; 
    display: block;
}
.topmenu ul:hover li{
    display: inline-block;
    border-bottom: #750e0e;
}
.topmenu a:after{
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #750e0e;
}
.topmenu a:hover:after,
.topmenu a:focus:after {
    width: 100%;
}
.topmenu li ul{
    display: none;
    height: auto;									
    margin: 0; 
    padding: 0; 
}    
.topmenu li:hover ul{
    display: block;
}
.topmenu li ul li{
    background-color: #903131;
}    
.topmenu li ul li a:hover{
    background-color: #750e0e;
}
/*Кнопка Тарифы*/
.button {
    transition-duration: 0.4s;
    font-size: 16px;
    padding: 10px 50px;
    border-radius: 4px;
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    border: 2px solid #750e0e;
}
.button:hover {
    background-color: #750e0e;
    color: white;
}
/**/
.block_gl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 90px;
}
.block_gl:after,.block_gl:before {
    width: 0;
}
.block_gg {
    margin-bottom: 96px;
}
.block-main {
    border-left: 3px solid #f14d34;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    min-height: 70px;
    height: 100%
}
.block-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: rgba(255,255,255,.7);
}
.block-title {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5px;
    position: relative;
}
.block-title img {
    vertical-align: baseline;
    position: absolute;
    left: 55px;
    top: -16px;
}
.block-main:first-of-type .block-title {
    font-size: 48px;
    margin-top: -22px;
}
