.block-col-13y{
    text-align: left;
    background: url(/themes/custom/bootstrap_dc/css/../images/icon-bg.svg) no-repeat center;   
    background-size: cover;
}
.block-col-team{
    text-align: left;
}
.block-col-team-h{
    text-align: left;
}
.block-team{
    margin-top: 100px;
}
.team{
    margin-top: 300px;
}
.team_h{
    margin-top: 300px;
}
.rowteam{
    padding-top: 500px;
}
.block-header-team{
    font-weight: bold;
}
.block-header-team-h{
    font-weight: bold;
    font-size: 40px;
}
.block-header-13y{
    font-weight: bold;
    font-size: 40px;
}
.block-text-team{
    height: 100px;
    line-height: 20px;
}
.text-center-team {
    text-align: center!important;
}
.text-center-team-h {    
    text-align: center!important;
}
.text-center-block-13y {    
    text-align: center!important;
}
.row-13years{
    text-align: left;
}
.row-polteam{
    text-align: left;
}
.block-title-raylag{
    font-weight: bold;
    width: 100%;
}
.bl13years{
    padding-bottom: 50px;
}
.img-team{
    width: 280px;
    height: 280px;
}




.container-faq {
  margin: 0 auto;
  padding: 4rem;
  width: 100%;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #ff3300;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #ffffff;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #ff5353;
}
.accordion a:hover::after {
  border: 1px solid #000000;
}
.accordion a.active {
  color: #ff5353;
  border-left: 1px solid #ff3300;
  border-right: 1px solid #ff3300;
  border-top: 1px solid #ff3300;
  border-bottom: 1px solid #ffffff;
  width: 100%;
}
.accordion a::after {
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #000000;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #000000;
  text-align: center;
}
.accordion a.active::after {
  
  color: #000000;
  border: 1px solid #000000;
}
.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #ff3300;
  border-left: 1px solid #ff3300;
  border-right: 1px solid #ff3300;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}
.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}
.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}
@media screen and (max-width: 480px) {
    
    .block-col-13y{
        width: 50%;
    }
    .block-img-13y{
        text-align: center;
    }
    .block-main-th{
        text-align: center;
    }
    .block-col-team{
        width: 50%;
        text-align: center;
    }
    .img-team{
        width: 140px;
        height: 140px;
    }  
   
}
